:root {
  --white: #fff;
  --main-color: rgb(205, 133, 63);
  --button-color: rgb(62, 133, 77);
  --button-color-hover: rgb(71, 175, 71);
  --list-hover: rgba(205, 133, 63, 0.9);
  --button-color-ok: rgb(62, 133, 77);
  --button-color-ok-hover: rgb(71, 175, 71);
}
/* Global configs */
* {
  padding: 0;
  margin: 0;
  transition: 0.4s;
}
/* ================
 Body styles 
 ================*/
body {
  font-family: "roboto", Arial;
  font-weight: 500;
  background-color: var(--main-color);
  color: white;
  height: 100vh;
}
/* ================
 Header styles 
 ================*/
#header {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 2rem;
}
#header #header-title {
  font-size: 2rem;
}
/* ================
 Content styles 
 ================*/
#content {
  display: flex;
  max-width: 1100px;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  gap: 4rem;
}
#div-todo {
  background-color: rgba(0, 0, 0, 0.7);
  width: 425px;
  height: auto;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

#content--add--item {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
/* ================
 Input styles 
 ================*/
#input-new-task,
#btn-new-task {
  border: none;
  font-size: 1rem;
  outline: none;
  padding: 1rem;
}
#input-new-task {
  width: 20rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
/* ================
 Button styles 
 ================*/
#btn-new-task {
  background-color: var(--button-color);
  color: var(--color-white);
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 10px;
  margin-bottom: 2rem;
}
#btn-new-task:hover {
  background-color: var(--button-color-hover);
}
/* ================
 todo list styles 
 ================*/
#to-do-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}

#to-do-list li {
  list-style-type: none;
  font-size: 1.4rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

#to-do-list li:hover {
  background-color: var(--list-hover);
  transition: 0.4s;
  border-radius: 1rem;
  padding-left: 1rem;
}
/* ================
 Button OK todo styles 
 ================*/
#btn-ok {
  border: none;
  background-color: var(--button-color-ok);
  color: var(--color-white);
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}

#btn-ok:hover {
  background-color: var(--button-color-ok-hover);
}
