:root {
  --color-dark: rgb(14, 14, 14);
  --color-dark2: rgb(32, 32, 32);
  --color-dark3: rgb(22, 22, 22);
  --white: #fff;
  --main-color: rgb(36, 37, 84);
}
/* Global configs */
* {
  padding: 0;
  margin: 0;
}
/* ================
 Body styles 
 ================*/
body {
  font-family: "roboto", Arial;
  font-weight: 400;
  background: linear-gradient(
    179.4deg,
    rgb(12, 20, 69) -16.9%,
    rgb(71, 30, 84) 119.9%
  );
  color: white;
}
/* ================
 Header styles 
 ================*/
#header {
  display: flex;
  justify-content: center;
  border: 1px solid blue;
  padding: 1.5rem;
}
#header #header-title {
  display: flex;
  text-decoration: underline;
  border: 1px solid green;
}
/* ================
 Content styles 
 ================*/
#content {
  border: 1px solid red;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1300px;
  width: 70%;
  flex-direction: column;
  gap: 4rem;
}
#content--add--item {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
/* ================
 Input styles 
 ================*/
#input-new-task,
#btn-new-task {
  border: none;
  font-size: 1rem;
  outline: none;
  padding: 1rem;
}
#input-new-task {
  width: 20rem;
  border-radius: 1rem;
}
/* ================
 Button styles 
 ================*/
#btn-new-task {
  background-color: var(--color-dark2);
  color: var(--color-white);
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.4s;
}
#btn-new-task:hover {
  background-color: var(--color-dark3);
}
/* ================
 todo list styles 
 ================*/
#to-do-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}

#to-do-list li {
  list-style-type: none;
  font-size: 1.4rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

#to-do-list li:hover {
  background-color: var(--color-dark3);
  transition: 0.4s;
  border-radius: 1rem;
  padding-left: 1rem;
}
/* ================
 Button OK todo styles 
 ================*/
#btn-ok {
  border: none;
  background-color: var(--color-green);
  color: var(--color-white);
  padding: 0.4rem 0.8rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}

#btn-ok:hover {
  background-color: var(--color-green2);
}
